.container{
    border: .5px solid black;
    border-radius: 8px;
    padding: 10px;
    background-color: grey;
}

.survey_btn{
    border: .5px solid white;
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.links{
    padding-top: 15px;
}

body{
    background: rgb(192, 189, 189);
}

h1{
    margin: 0;
}