.answers{
    border: .5px solid white;
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: black;
    display: inline-block;
    border-radius: 8px;
    font-size: 15px;
}

.answers:hover{
    background-color: lightskyblue;
    color: black;
    cursor: pointer;
}

#ques{
    margin: 10px;
    color: darkred;
    font-size: 22px;
}

body{
    background-color: rgb(192, 189, 189);
}

#ques_number{
    font-size: 26px;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    max-width: fit-content;
    padding: 8px;
    background-color: grey;
    border-radius: 8px;
}

#done_btn{
    padding: 10px;
    border-radius: 8px;
    background-color: darkred;
    font-size: 26px;
    font-weight: bold;
    border-color: black;
    cursor: pointer;
}

.input_name, .input_img{
    min-width: 50%;
}

.input_info{
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.intro_text{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.title{
    border-bottom: 1px dashed black;
    max-width: fit-content;
    padding: 5px;
}

.friend_name{
    padding: 5px;
    font-size: 40px;
    font-weight: bold;
    display: block;
    margin: 15px;
}

.photo{
    border: 1px solid black;
    padding: 10px;
    margin: 15px;
    width: 100px;
    height: 100px;
}

.modal{
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: grey;
}

.modal_content{
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    width: 60%;
    min-width: fit-content;
    min-height: fit-content;
}

.restart{
    color: white;
    background-color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

.restart:hover{
    color: black;
    background-color: lightseagreen;
    cursor: pointer;
}